<div class="container">
  <div class="card col-md-6 offset-3 mt-5">
    <div class="card-header">
      Update Customer Profile
    </div>
    <div class="card-body">
      <form [formGroup]="updateCustomerFormGroup" (ngSubmit)="updateCustomer()">
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Select image file(s)</label>
          <input class="form-control" formControlName="image" type="file" id="formFileMultiple" multiple (change)="onFileChange($event)" />
          <!-- Add any specific validation and error messages for image if needed -->
        </div>
        <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" formControlName="name" class="form-control">
          <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['name'].touched
            && updateCustomerFormGroup.controls['name'].hasError('required')">
            Name is required
          </span>
          <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['name'].touched
            && updateCustomerFormGroup.controls['name'].hasError('minlength')">
            Name must be at least 4 characters long
          </span>
        </div>

        <div class="mb-3">
          <label class="form-label">Surname</label>
          <input type="text" formControlName="surName" class="form-control">
          <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['surName'].touched
            && updateCustomerFormGroup.controls['surName'].hasError('required')">
            Surname is required
          </span>
          <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['surName'].touched
            && updateCustomerFormGroup.controls['surName'].hasError('minlength')">
            Surname must be at least 4 characters long
          </span>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <input type="text" formControlName="email" class="form-control">
          <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['email'].touched
            && updateCustomerFormGroup.controls['email'].hasError('required')">
            Email is required
          </span>
          <span class="text-danger" *ngIf="updateCustomerFormGroup.controls['email'].touched
            && updateCustomerFormGroup.controls['email'].hasError('email')">
            Please enter a valid email address
          </span>
        </div>

        <div class="mb-3">
          <label class="form-label">Phone Number</label>
          <input type="text" formControlName="phoneNumber" class="form-control">

        </div>


        <div class="mb-3">
          <label class="form-label">Adresse</label>
          <input type="text" formControlName="adresse" class="form-control">
          <!-- Add any specific validation and error messages for adresse if needed -->
        </div>

        <div class="d-flex justify-content-between mt-3">
          <button type="button" (click)="goBack()" class="btn btn-danger">Back</button>
          <button [disabled]="!updateCustomerFormGroup.valid" class="btn btn-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
